In [51]:
import pandas as pd
from ipysankeywidget import SankeyWidget
from ipywidgets import Layout
import numpy as np

In [60]:
layout = Layout(width="800", height="600")
def sankey(margin_top=10, **value):
    return SankeyWidget(layout=layout,
                        margins=dict(top=margin_top, bottom=0, left=60, right=60),
                        **value)

In [61]:
df = pd.DataFrame()
df = pd.read_csv(r'.\Data\C2.csv')
display(df.head(9))
df['value'] = df['value'].fillna(0).round().astype(int)
display(df.head(9))

  source target     value
0   sR 1    R 0     123.0
1   sR 1    R 1  277002.0
2   sR 1    R 2    2564.0
3   sR 1    R 3   27414.0
4   sR 1    R 4    6589.0
5   sR 1    R 5     719.0
6   sR 1    R 6    3167.0
7   sR 1   R 88      17.0
8   sR 1   R 99     569.0

  source target   value
0   sR 1    R 0     123
1   sR 1    R 1  277002
2   sR 1    R 2    2564
3   sR 1    R 3   27414
4   sR 1    R 4    6589
5   sR 1    R 5     719
6   sR 1    R 6    3167
7   sR 1   R 88      17
8   sR 1   R 99     569

In [62]:
links = []
for index, row in df.iterrows():
    link = dict(zip(df.columns, row))
    links.append(link)

display(links[0:9])

[{'source': 'sR 1', 'target': 'R 0', 'value': 123},
 {'source': 'sR 1', 'target': 'R 1', 'value': 277002},
 {'source': 'sR 1', 'target': 'R 2', 'value': 2564},
 {'source': 'sR 1', 'target': 'R 3', 'value': 27414},
 {'source': 'sR 1', 'target': 'R 4', 'value': 6589},
 {'source': 'sR 1', 'target': 'R 5', 'value': 719},
 {'source': 'sR 1', 'target': 'R 6', 'value': 3167},
 {'source': 'sR 1', 'target': 'R 88', 'value': 17},
 {'source': 'sR 1', 'target': 'R 99', 'value': 569}]

In [64]:
sankey(links=links)

SankeyWidget(layout=Layout(height='600', width='800'), links=[{'source': 'sR 1', 'target': 'R 0', 'value': 123â€¦