In [95]:
import pandas as pd
from ipysankeywidget import SankeyWidget
from ipywidgets import Layout
import numpy as np

In [96]:
layout = Layout(width="800", height="600")
def sankey(margin_top=10, **value):
    return SankeyWidget(layout=layout,
                        margins=dict(top=margin_top, bottom=0, left=60, right=150),
                        **value)

In [97]:
df = pd.DataFrame()
df = pd.read_csv(r'.\Data\C1.csv')
display(df.head(9))
df['value'] = df['value'].fillna(0).round().astype(int)
display(df.head(9))

  source target    value type
0   sR_1    R_0     23.0    a
1   sR_1    R_1  70734.0    a
2   sR_1    R_2  10362.0    a
3   sR_1    R_3   2816.0    a
4   sR_1    R_4   3572.0    a
5   sR_1    R_5    756.0    a
6   sR_1    R_6    909.0    a
7   sR_1    R_7    371.0    a
8   sR_1   R_88     11.0    a

  source target  value type
0   sR_1    R_0     23    a
1   sR_1    R_1  70734    a
2   sR_1    R_2  10362    a
3   sR_1    R_3   2816    a
4   sR_1    R_4   3572    a
5   sR_1    R_5    756    a
6   sR_1    R_6    909    a
7   sR_1    R_7    371    a
8   sR_1   R_88     11    a

In [98]:
links = []
for index, row in df.iterrows():
    link = dict(zip(df.columns, row))
    links.append(link)

display(links[0:9])

[{'source': 'sR_1', 'target': 'R_0', 'value': 23, 'type': 'a'},
 {'source': 'sR_1', 'target': 'R_1', 'value': 70734, 'type': 'a'},
 {'source': 'sR_1', 'target': 'R_2', 'value': 10362, 'type': 'a'},
 {'source': 'sR_1', 'target': 'R_3', 'value': 2816, 'type': 'a'},
 {'source': 'sR_1', 'target': 'R_4', 'value': 3572, 'type': 'a'},
 {'source': 'sR_1', 'target': 'R_5', 'value': 756, 'type': 'a'},
 {'source': 'sR_1', 'target': 'R_6', 'value': 909, 'type': 'a'},
 {'source': 'sR_1', 'target': 'R_7', 'value': 371, 'type': 'a'},
 {'source': 'sR_1', 'target': 'R_88', 'value': 11, 'type': 'a'}]

In [99]:
sankey(links=links)

SankeyWidget(layout=Layout(height='600', width='800'), links=[{'source': 'sR_1', 'target': 'R_0', 'value': 23,â€¦

In [100]:
df2 = pd.DataFrame()
df2 = pd.read_csv(r'.\Data\C1_rate.csv')
display(df2)

     id                 title
0   R_1    sR_1 > R_1 (78.9%)
1   R_2      sR_2 > R_2 (93%)
2   R_3    sR_3 > R_3 (68.7%)
3   R_4    sR_4 > R_4 (79.9%)
4   R_5    sR_5 > R_5 (85.7%)
5   R_6      sR_6 > R_6 (78%)
6   R_7    sR_7 > R_7 (82.6%)
7  R_99  sR_99 > R_99 (55.7%)
8  R_88   sR_88 > R_88 (100%)
9   R_0    sR_0 > R_0 (99.8%)

In [101]:
nodes = []
for index, row in df2.iterrows():
    node = dict(zip(df2.columns, row))
    nodes.append(node)

display(nodes)

[{'id': 'R_1', 'title': 'sR_1 > R_1 (78.9%)'},
 {'id': 'R_2', 'title': 'sR_2 > R_2 (93%)'},
 {'id': 'R_3', 'title': 'sR_3 > R_3 (68.7%)'},
 {'id': 'R_4', 'title': 'sR_4 > R_4 (79.9%)'},
 {'id': 'R_5', 'title': 'sR_5 > R_5 (85.7%)'},
 {'id': 'R_6', 'title': 'sR_6 > R_6 (78%)'},
 {'id': 'R_7', 'title': 'sR_7 > R_7 (82.6%)'},
 {'id': 'R_99', 'title': 'sR_99 > R_99 (55.7%)'},
 {'id': 'R_88', 'title': 'sR_88 > R_88 (100%)'},
 {'id': 'R_0', 'title': 'sR_0 > R_0 (99.8%)'}]

In [102]:
sankey(links=links, nodes=nodes)

SankeyWidget(layout=Layout(height='600', width='800'), links=[{'source': 'sR_1', 'target': 'R_0', 'value': 23,â€¦

In [104]:
groups = [
    {'id': 'G1', 'title': '1st rating by AI', 'nodes': ['sR_0', 'sR_1', 'sR_2', 'sR_3', 'sR_4', 'sR_5', 'sR_6', 'sR_7', 'sR_88', 'sR_99']},
    {'id': 'G2', 'title': 'Result', 'nodes': ['R_0', 'R_1', 'R_2', 'R_3', 'R_4', 'R_5', 'R_6', 'R_7', 'R_88', 'R_99']},
]
sankey(links=links, nodes=nodes, groups=groups, margin_top=30)

SankeyWidget(groups=[{'id': 'G1', 'title': '1st rating by AI', 'nodes': ['sR_0', 'sR_1', 'sR_2', 'sR_3', 'sR_4â€¦